__pycache__/
*.pyc
*.pyo
*.log
*.bat
add_log.txt
load_log.txt
save_watchlists_log.txt
debug_flet.py
debug_gui.py
gui.log
gui_alerts.log
gui_test.log
minimal.log
stderr.log
stdout.log
tracker_api.log
tracker_debug.log
tracker_perf.log
